<!DOCTYPE html>
	<html>

	<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	    			<li><a href="https://heavy-lifting.github.io/">home</a></li>
	       			<li><a href="/shows">shows</a></li>
				<li><a href="/blog">blog</a></li>
				<li><a href="/contact">contact</a></li>
				<li><a href="/cv">cv</a></li>
				<li><a href="/links">links</a></li>
				
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:lucy@heavy-lifting.org">email: lucy@heavy-lifting.org
					</a></li>
	   
	        		
				</ul>
			</footer>
		</body>
	</html>
